p {
  font-family: 'Product Sans', Arial;
  font-size: 22px;
  padding: 0px;
}

h1 {
  font-family: 'Product Sans', Arial;
  font-size: 36px;
  padding: 0px;
}

h2 {
  font-family: 'Product Sans', Arial;
}

h3 {
  font-family: 'Product Sans', Arial;
}

h4 {
  font-family: 'Product Sans', Arial;
}

h5 {
  font-family: 'Product Sans', Arial;
}

h6 {
  font-family: 'Product Sans', Arial;
}
