body {
  font-family: 'Product Sans';
  margin: 0px;
  height: 100%;
  background: url("https://nanomotion.github.io/i/halo4.jpg") no-repeat center center fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
}
