p {
  font-family: 'Product Sans', Arial;
}

h1 {
  font-family: 'Product Sans', Arial;
}

h2 {
  font-family: 'Product Sans', Arial;
}

h3 {
  font-family: 'Product Sans', Arial;
}

h4 {
  font-family: 'Product Sans', Arial;
}

h5 {
  font-family: 'Product Sans', Arial;
}

h6 {
  font-family: 'Product Sans', Arial;
}

button {
  background: #28b3ca;
  color: #fff;
  display: inline-block;
  padding: 6px 10px;
  font:  normal 400 22px/1 "Product Sans", Arial;
  text-align: center;
  text-shadow: none;
  border: 0px;
}

a {
  font-family: 'Product Sans', Arial;
}

#content {
  color: gray;
}
