p {
  font-family: 'Product Sans', Arial;
  font-size: 24px;
  padding: 0px;
}

h1 {
  font-family: 'Product Sans', Arial;
  font-size: 36px;
  padding: 0px;
}

h2 {
  font-family: 'Product Sans', Arial;
}

h3 {
  font-family: 'Product Sans', Arial;
}

h4 {
  font-family: 'Product Sans', Arial;
}

h5 {
  font-family: 'Product Sans', Arial;
}

h6 {
  font-family: 'Product Sans', Arial;
}

button {
  background: #28b3ca;
  color: #fff;
  display: inline-block;
  padding: 10px 14px;
  font:  normal 400 22px/1 "Product Sans", Arial;
  font-size: 24px
  text-align: center;
  text-shadow: none;
  border: 0px;
}

a {
  font-family: 'Product Sans', Arial;
}

#content {
  color: gray;
}

body {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.footer {
  color: #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px 10px;
  background-color: #28b3ca;
  text-align: center;
}
