html {
  height: 100%;
}

body {
  background-image: url(https://nanomotion.github.io/i/codecode.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.center-content {
  width: 50%;
  height: 100%;
  margin: auto;
  color: black;
  background-color: white;
  margin: 0px %;
  padding: 10px;
  box-shadow: 3px 3px 4px #3f3f3f;
}
