body {
  background-image: url(https://nanomotion.github.io/i/codecode.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.center-content {
  width: 50%;
  height: 100px;
  margin: auto;
  color: black;
  background-color: white;
  border-radius: 3px;
  margin: 0px %;
  padding: 10px;
  box-shadow: 7px 7px 5px #888888;
