.border-test {
  font-size: 24px;
  color: white;
  font-weight: lighter;
  background-color: #ff9e9e;
  width: 95%;
  padding: 10px;
  text-align: right;
  border-style: none none none solid;
  border-color: #f44242;
  border-width: 20px;
