.border-test {
  opacity: 0.9;
  font-size: 24px;
  color: white;
  font-weight: lighter;
  background-color: #ff9e9e;
  width: 95%;
  padding: 10px;
  text-align: left;
  border-left: solid 10px #f44242;
  margin: 10px 0px 10px 10px;
