.border-test {
  font-size: 24px;
  font-color: white;
  font-weight: lighter;
  background-color: #ff9e9e;
  width: 95%;
  padding: 10px;
  text-align: right;
  border-style: none solid none none;
  border-color: #f44242;
